.body{
    background-color:rgb(0, 0, 0)  ;
    height:100vh;
    width: 100vw;
    padding: o;
    margin: 0;
 
   
    
      
}.interest{
    margin-left: 100px;
    margin-top: 50px;
}.video-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 100px;
    margin-top: 10px;
    
    
}

video {
    width: 50vw;
    height: 30vh;
    max-width: 600px;
    border-radius: 10px;
  
    object-fit: contain;
 
}
footer{
    text-align: center;
    padding: 10px 0;
    background-color: gray;
    color: white;
    
} table {
    width: 60vw;
    height: 70vh;
    border-collapse: collapse;
    margin: 20px 0;
    margin-left: 200px;

    
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #947575;
    color: wheat;
}
th {
    background-color:gray;
}
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #af9e67;
    margin-left: 100px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 100px;
}

textarea {
    resize: vertical;
    height: 100px;

}

.button-group {
    text-align: center;
    
}

.btn {
    background-color: #9d895b; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.btn:hover {
    background-color:white ; 
    color:#9d895b ;

}.container {
    max-width: 600px;
    margin: auto;
    background: transparent;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}