.profile{
    object-fit: cover;
    margin-top: 0px;
    width: 40vw;
    max-width: 300px;
    height: 400px;
    margin-right: 80px;
    
    border-radius: 120px;
  
   
   
   }.icons{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    display: block;
    object-fit: cover;
    }
    .icons:hover{
        filter: invert(100%);
   
    }.icons:active{
        height: 60px;
        width: 60px;
        border-radius: 30px;
    }.logo{
        height: 40px;
        width: 40px;
        border-radius: 30px;
        display: block;
        object-fit: cover;}
        .skills-image{
            height: 80px;
            width: 80px;
            
          
            object-fit: cover;
            border-radius: 45px;
           
        }.adv-img{
            height: 90px;
            width: 90px;
            object-fit: cover;
            opacity: 0.7;
            transition: opacity 0.3s ease;
        }.adv-img:hover {
            opacity: 22.9;
        }